
<div class="top-bar" ng-if='!isAuthenticated()'>
    <md-button class="md-raised" ng-click='login()'>Login</md-button>
</div>

<div class="top-bar" ng-if='isAuthenticated()'>
    <md-button class="md-raised" ng-click="logout()">Logout</md-button>
    <md-button class="md-raised" ng-click="importClick()">Import</md-button>
</div>

<div class="search-content">
    <div class='search'>
        <js-tag class="input" js-tag-mode="typeahead" js-tag-options="jsTagOptions"></js-tag>
        <md-button class="md-raised" ng-click='searchClick()'>Search</md-button>
    </div>


    <div class='run-buttons'>
        <md-button class='md-primary' ng-click='viewClick()' ng-disabled="!enabled()">View</md-button>
        <md-button class='md-confirm' ng-click='exportClick()' ng-disabled="!enabled()">Export</md-button>
        <md-button class='md-warn' ng-disabled='!isAuthenticated() || !enabled()' ng-click='deleteClick()'>Delete</md-button>
    </div>

    <div class="result">
        <div ng-if='loading' class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <md-list ng-if='!loading' ng-repeat="run in results" flex>
            <md-list-item class="md-2-line" ng-click="viewClick(run)">
                <p>{{run.id}}</p>

                <div class="md-list-item-text" layout="column">
                    <h3 layout-padding>{{run.date | dateFilter}}</h3>
                    <h3 layout-padding>{{run.time | timeFilter}}</h3>
                </div>
                <div class="md-list-item-text" ng-repeat="tag in run.tags" layout="row">
                    <h3 layout-padding>{{tag}}</h3>
                </div>
                <md-checkbox ng-click="selectedToggle(run.id)" ng-checked="exists(run.id)" aria-label="Checkbox ">

                </md-checkbox>
        </md-list>
    </div>
</div>