.result md-list-item {
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 3px solid #d4d4d4;
}

md-dialog {
    min-width: 70%;
    width: auto;
}

body {
    
}

.help {
    position: absolute;
    right: 5%;
}

.md-button[disabled] {
    background-color: #e3e3e3;
    color: rgb(173, 173, 173) !important;
}

.md-warn {
    background-color: #b52828;
    color: #ffffff !important;
}

.md-confirm {
    background-color: #187718;
    color: #ffffff !important;
}

.md-primary {
    background-color: #37379c;
    color: #ffffff !important;
}



.search js-tag .jt-editor{
    width: 50%;
    display: inline-block !important;
    font-size: 20px;
}

.search .jt-tag{
    background-color: rgb(254, 86, 144);
    color: white;
    border: 1px solid #d4d4d4;
    padding: 0% 1% 4% 1%;
    font-size: 20px;
    font-size: 1.0vw;
}

.search-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 10% 0% 10%;
}

.search-content .search{
    margin-left: 20%;
    width: 100%;
}

.search-content .run-buttons{
    text-align: center;
}


.importButtons{
    width: 10%;
}

.md-light{
    background-color: rgba(220,224,251,1);
    color: #000000;
    border: 3px solid rgba(199,199,199,0.33);
    border-radius: 5px;
}


.md-clear{
    color: #000000;
    border: 3px solid rgba(255, 255, 255, 0.92);
    border-radius: 5px;
}

.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(220,224,251,1);
}

.breadcrumb md-checkbox{
    margin-left: auto;
    align-self: flex-end;
    padding-right: 1.5%;
}

.data {
    display: flex;
    flex-direction: row;
}

.annotation-preview {
    min-width: 50%;
    width: fit-content;
}

.annotation-description {
    padding: 2%;
}

.annotation-edit-box{
    width: 100%;
    max-width: 100%;
    height: 90px;
    max-height: 150px;
}

.md-button.md-small{
    min-width:1%;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view .column-panel{
    width: 75%;
    padding : 2%;
    margin-left: 10%;
    margin-top: 2%;
    min-height: 100px;
   
}

.view .column-panel .column-switch{
    margin-left: 40%;
}

.view .column-panel .content{
    border: #d4d4d4;
    border-style: solid;
    min-height: 450px;
}

.md-button.tag-button{
    min-width: 1%;
    float: right;
}

.active-column {
    color: blue;
}

.version {
    float: right;
}

.import-panel .login{
    padding: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.algorithm-panel{
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #fe5690;
    margin: 3%;
}

.import-panel .preview-data{
    display: flex;

}


/* css loading animation */

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-100 { font-size: 100px; }



