<style>
    .run-group {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
        clip-path: url(#clip);
    }
</style>



<div class='import-panel' ng-controller="importPanelControllerV2">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4>Import</h4>
            <span flex></span>

            <md-button class="md-light" aria-label="logout" ng-click="logout()">
                Logout
            </md-button>
            <md-button class="md-icon-button md-light" aria-label='close import panel' ng-click="cancel()">
                X
            </md-button>
        </div>
    </md-toolbar>
    <div ng-show='isAuthenticated()'>
        <md-dialog-content ng-show='!preview'>
            <div class='breadcrumb'>
                <div ng-repeat='element in breadcrumb'>
                    <md-button ng-click='folderClick(element)' ng-show='$first' ng-disabled="$last">
                        <md-icon md-svg-src="../../assets/img/homeIcon.svg" aria-label="Run Icon"></md-icon>
                    </md-button>
                    <md-button ng-click='folderClick(element)' ng-show='!$first' ng-disabled="$last">
                        {{element.name}}
                    </md-button>
                    <md-icon ng-hide='$last'>></md-icon>
                </div>
                <md-checkbox md-no-ink='false' ng-checked="selectedAllIsChecked()" ng-click="selectedAllToggle()" aria-label='select all checkbox'></md-checkbox>
            </div>


            <md-list flex>
                <md-list-item class="md-2-line" ng-click="folderClick(result)" ng-repeat='result in activePage.data'>
                    <md-icon ng-if='result.type == "run"' md-svg-src="../../assets/img/runIcon.svg" aria-label="Run Icon"></md-icon>
                    <md-icon ng-if='result.type == "folder"' md-svg-src="../../assets/img/folderIcon.svg" aria-label="Run Icon"></md-icon>
                    <div class="md-list-item-text">
                        <h4>{{result.name}}</h4>
                    </div>
                    <div ng-if='result.type == "run"'>
                        <md-button ng-click="previewToggle(result)">
                            <md-icon md-svg-src="../../assets/img/previewIcon.svg" aria-label="Preview Icon"></md-icon>
                        </md-button>
                        <md-checkbox md-no-ink='false' ng-click="selectedToggle(result.id)" ng-checked="exists(result.id)" aria-label="Checkbox ">
                        </md-checkbox>

                    </div>
                </md-list-item>
            </md-list>
            <md-dialog-actions layout="row">


                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button ng-click="confirm()">
                    Confirm
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>


        <div ng-if='loading' class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>

        <div ng-show='preview && !loading'>
            <div class='preview-data'>
                <div class='data'>
                    <svg class="graph-container"></svg>
                </div>

                <div class='algorithm-panel'>
                    <md-list>
                        <md-list-item class="md-2-line" ng-click=algorithmSelect() ng-repeat='algorithm in activePage'>
                            <div class="md-list-item-text">
                                <h3>{{algorithm.name}}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>



            <md-button ng-click="previewToggle()">
                Back
            </md-button>
        </div>
    </div>
    <div ng-click="login()" ng-hide="isAuthenticated()" class="login">
        <i class="material-icons md-100">lock</i>
        <md-button class="md-light" ng-click="login()">Login</md-button>
    </div>
</div>