<md-dialog class='annotation-preview'>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class='md-small' aria-label="annotation position edit button" ng-click="annotationDelete()">
               X
            </md-button>
            <h4>Annotation</h4>

            <span flex></span>
            <div ng-if='!editMode'>
                <md-button class='md-small' aria-label="annotation position edit button" ng-click="annotationPosEdit()">
                    <md-icon md-svg-src="../../assets/img/arrow_down.svg"></md-icon>
                </md-button>
                <md-button class='md-small' aria-label="annotation desciption edit button" ng-click="annotationDescriptionEdit()">
                    <md-icon md-svg-src="../../assets/img/pencil.svg"></md-icon>
                </md-button>

            </div>

        </div>
    </md-toolbar>
    <div class='annotation-description'>
        <h2>
            {{annotationTitle}}
        </h2>
        <p ng-hide='editMode'>
            {{annotationDescription}}
        </p>
        <textarea ng-show='editMode' class='annotation-edit-box' ng-model='annotationDescription'>

            </textarea>
    </div>

    <md-dialog-actions ng-if='editMode' layout="row">
        <md-button ng-click="cancelAnnotationDescription()">
            Cancel
        </md-button>
        <md-button ng-click="confirmAnnotationDescription()">
            Confirm
        </md-button>
    </md-dialog-actions>
    <md-dialog-actions ng-if='!editMode' layout="row">
        <md-button ng-click="cancelAnnotation()">
            Cancel
        </md-button>
        <md-button ng-click="confirmAnnotation()">
            Confirm
        </md-button>
    </md-dialog-actions>
</md-dialog>